<div class="row">
    <section class="col-md-12">
        <h4>Create Snippet</h4>
        <div>
            <form name="create_form">
                <div class="form-group">
                    <label for="snippet_displayName">Snippet Name</label>
                    <input id="snippet_displayName" type="text" class="form-control" required data-ng-model="formData.displayName"/>
                </div>
                <div class="form-group">
                    <label for="snippet_description">Description</label>
                    <input id="snippet_description" type="text" class="form-control" required data-ng-model="formData.description"/>
                </div>
                <div class="form-group">
                    <button class="btn btn-info pull-right" data-toggle="modal" data-target="#markupHelpModal">README Markdown Help</button>
                </div>
                <div class="form-group">
                    <label for="create_readme_ace">ReadMe</label>
                    <ul class="nav nav-tabs">
                        <li class="nav active">
                            <a data-target="#create_readme_ace" data-toggle="tab">Edit</a>
                        </li>
                        <li class="nav">
                            <a data-target="#create_readme_pre" data-toggle="tab" ng-click="formatReadmeForPreview()">Preview</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div id="create_readme_ace" class="create_readme tab-pane fade in active" ui-ace ="{ onLoad:aceLoaded }" ng-model="formData.readme"></div>
                        <div id="create_readme_pre" class="create_readme tab-pane fade well" style="overflow: auto; background: rgb(255,255,255); " ng-bind-html="$searchService.trustHtmlSnippet(formData.formattedReadme)"></div>
                    </div>
                </div>

                <div class="btn-group pull-right">
                    <button class="btn btn-default" ng-click="cancelCreate()")>Cancel</button>
                    <button class="btn btn-success" ng-disabled="!create_form.$valid"  ng-click="createSnippet()">Create</button>
                </div>
            </form>
        </div>
    </section>
</div>