<div class="row">
    <section class="col-md-12">
        <!-- back button for images and non-owners -->
        <div ng-show="contentUrl || (showEditor && !isOwner)" class="btn-group pull-right">
            <button class="btn btn-default" ng-click="cancelEdit()">Back</button>
        </div>

        <h4><strong>{{fileName}}</strong>&nbsp;&nbsp;<span class="alert-warning">{{(!showEditor || isOwner)?"":"(Read only)"}}</span></h4>
        <strong ng-show="!showEditor && !contentUrl">Loading...</strong>

        <!-- edit normal text file contents -->
        <div ng-show="showEditor">
            <div class="edit_file" ui-ace ="{ onLoad:aceLoaded }" ng-model="content"></div>
        </div>

        <!-- lower set of buttons -->
        <div ng-show="showEditor && isOwner" class="btn-group pull-right">
            <button class="btn btn-default" ng-click="cancelEdit()">Cancel</button>
            <button class="btn btn-success" ng-click="saveFile()">Save</button>
        </div>

        <!--  show contents of URL such as an image -->
        <img ng-show="!showEditor && contentUrl" src="{{contentUrl}}" width="100%"/>

    </section>
</div>

<div id="cancelEditModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirm cancel</h4>
            </div>
            <div class="modal-body">
                <p>File content has changed, are you sure you want to cancel?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Keep Editing</button>
                <button type="button" class="btn btn-danger" ng-click="confirmCancel = true" data-dismiss="modal">Discard Changes</button>
            </div>
        </div>
    </div>
</div>



