<div class="row" xmlns="http://www.w3.org/1999/html">
    <section class="col-md-8">
        <span ng-show="searchInProgress">Searching...&nbsp;&nbsp;&nbsp;<img src="images/spinner.gif" height="20px" width="20px"/></span>
        <span ng-show="noResultsFound">No snippets found</span>
        <div ng-repeat="item in mySnippets">
            <h2>
                <a ui-sref="search.results.overview({ snippetId: '{{item.snippetId}}'})">{{item.displayName}}</a>
            </h2>
            <span ng-bind="item.description"></span>
        </div>
    </section>
</div>