<div class="row">
    <section class="col-md-12">
        <div class="panel panel-info">
            <button ng-show="snippetOverview.isOwner" class="pull-right btn btn-default" ng-click="deleteSnippet(snippetId)">Delete Snippet</button>
            <div>
                <h3 class="panel-heading">
                    <span ng-hide="snippetOverview.isOwner">{{snippetOverview.displayName}}</span>
                    <a ng-show="snippetOverview.isOwner" href="#" editable-text="snippetOverview.displayName" onaftersave="updateSnippet()">{{snippetOverview.displayName}}</a>
                </h3>
            </div>
            <div class="panel-body">
                <span ng-hide="snippetOverview.isOwner">{{snippetOverview.description}}</span>
                <a ng-show="snippetOverview.isOwner" href="#" editable-text="snippetOverview.description" onaftersave="updateSnippet()">{{snippetOverview.description}}</a>
            </div>
        </div>
        <div>
            <div class="panel-body">
                <button ng-show="snippetOverview.isOwner" class="pull-right btn btn-default" data-toggle="modal" data-target="#fileNameModal">Create New File</button>
                <button ng-show="snippetOverview.isOwner" class="pull-right btn btn-default" data-toggle="modal" data-target="#fileUploadModal">File Upload</button>
            </div>
        </div>
        <div>
            <strong ng-show="!snippetOverview">Loading...</strong>
            <ul class="list-group">
                <li ng-repeat="file in snippetOverview.files" class="list-group-item">
                    <a ui-sref="search.results.overview.details({ snippetId: '{{snippetId}}', fileName: '{{file}}'})">{{file}}</a>
                    <span ng-show="file != 'README.md' && snippetOverview.isOwner" ng-click="deleteFile(file)" class="glyphicon glyphicon-trash pull-right" style="color:red; cursor:pointer;"></span>
                </li>
            </ul>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">ReadMe</div>
            <div class="panel-body" ng-bind-html="$searchService.trustHtmlSnippet(snippetOverview.readme)"></div>
        </div>
    </section>
</div>

<div id="fileNameModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">New Filename</h4>
            </div>
            <div class="modal-body">
                <input id="newFileName" ng-model="newFileName" type="text" class="form-control"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-default" ng-click="addFile(newFileName)" data-dismiss="modal">Create File</button>
            </div>
        </div>
    </div>
</div>

<div id="fileUploadModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" >&times;</button>
                <h4 class="modal-title">Upload Files</h4>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <h3>Select files</h3>
                            <input type="file" nv-file-select="" uploader="uploader" multiple style="max-width: 100px;" /><br/>
                        </div>

                        <div nv-file-drop uploader="uploader" class="col-md-6" style="margin-bottom: 40px; max-width: 550px;">
                            <h3>Upload queue&nbsp;&nbsp;&nbsp;<img src="images/drop.png" style="height:60px; width:60px;"/></h3>
                            <p>Queue length: {{ uploader.queue.length }}</p>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th width="50%">Name</th>
                                    <th ng-show="uploader.isHTML5">Size</th>
                                    <th ng-show="uploader.isHTML5">Progress</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in uploader.queue">
                                    <td><strong>{{ item.file.name }}</strong></td>
                                    <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024|number:2 }} kb
                                        <span class="bg-danger" ng-show="item.file.size > 512000" title="An uploaded file must not exceed 512k in size. Github will truncate the file."><br>Error: File size exceeds 512k max</span>
                                    </td>
                                    <td ng-show="uploader.isHTML5">
                                        <div class="progress" style="margin-bottom: 0;">
                                            <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                        <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                        <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                    </td>
                                    <td nowrap>
                                        <!--<button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">-->
                                            <!--<span class="glyphicon glyphicon-upload"></span> Upload-->
                                        <!--</button>-->
                                        <!--<button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">-->
                                            <!--<span class="glyphicon glyphicon-ban-circle"></span> Cancel-->
                                        <!--</button>-->
                                        <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                            <span class="glyphicon glyphicon-trash"></span> Remove
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <div>
                                <div>
                                    Queue progress:
                                    <div class="progress" style="">
                                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                                    <span class="glyphicon glyphicon-upload"></span> Upload all
                                </button>
                                <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                                </button>
                                <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                                    <span class="glyphicon glyphicon-trash"></span> Remove all
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="uploadComplete()">Finish</button>
            </div>
        </div>
    </div>
</div>