<div class="row">
    <section class="col-md-12">
        <div class="panel panel-info">
            <div class="btn-group pull-right">
                <div>
                    <button ng-show="snippetOverview.isOwner && !confirmDelete" class="btn btn-warning" type="button" ng-click="confirmDelete = true" >Delete Snippet</button>
                    <button ng-show="confirmDelete" class="btn btn-danger" type="button" ng-click="deleteSnippet(snippetId)" >Perform Delete</button>
                    <button ng-show="confirmDelete" class="btn btn-default" type="button" ng-click="confirmDelete = false" >Cancel Delete</button>
                </div>
                <div ng-show="!snippetOverview.isOwner"><small>Your Rating:</small></div>
                <rate-yo ng-show="!snippetOverview.isOwner" on-set="setRating" ng-model="userRating" options="ratingOptions"></rate-yo>
                <small>Avg Rating:</small>
                <rate-yo ng-model="avgRating" options="avgRatingOptions"></rate-yo>
                <div class="padding-right"><small>Posted on: {{snippetOverview.postedOn | date:'shortDate'}}</small></div>
                <div class="padding-right"><small>Posted by: {{snippetOverview.owner}}</small></div>
            </div>
            <div>
                <h3 class="panel-heading">
                    <span ng-hide="snippetOverview.isOwner">{{snippetOverview.displayName}}</span>
                    <a ng-show="snippetOverview.isOwner" href="#" editable-text="snippetOverview.displayName" onaftersave="updateSnippet()">{{snippetOverview.displayName}}</a>
                </h3>
            </div>
            <div class="panel-body">
                <span ng-hide="snippetOverview.isOwner">{{snippetOverview.description}}</span>
                <a ng-show="snippetOverview.isOwner" href="#" editable-text="snippetOverview.description" onaftersave="updateSnippet()">{{snippetOverview.description}}</a>
            </div>
        </div>
        <div>
            <div class="panel-body">
                <div class="btn-group pull-right">
                    <button ng-show="snippetOverview.isOwner" class="btn btn-default" type="button" data-toggle="modal" data-target="#fileNameModal">Create New File</button>
                    <button ng-show="snippetOverview.isOwner" class="btn btn-default" type="button" data-toggle="modal" data-target="#fileUploadModal">File Upload</button>
                </div>
            </div>
        </div>
        <div>
            <strong ng-show="!snippetOverview.displayName">Loading...</strong>
            <ul class="list-group">
                <li ng-repeat="file in snippetOverview.files" class="list-group-item">
                    <a ui-sref="search.results.overview.details({ snippetId: '{{snippetId}}', fileName: '{{file}}', isOwner: {{snippetOverview.isOwner}} })">{{file}}</a>
                    <span ng-show="file != 'README.md' && snippetOverview.isOwner" ng-click="deleteFile(file)" class="glyphicon glyphicon-trash pull-right" style="color:red; cursor:pointer; margin-left: 10px;"></span>
                    <span ng-show="snippetOverview.isOwner" ui-sref="search.results.overview.details({ snippetId: '{{snippetId}}', fileName: '{{file}}', isOwner: {{snippetOverview.isOwner}} })" class="glyphicon glyphicon-pencil pull-right" title="Edit file" style="color:darkblue; cursor:pointer;"></span>
                    <span ng-show="!snippetOverview.isOwner" ui-sref="search.results.overview.details({ snippetId: '{{snippetId}}', fileName: '{{file}}', isOwner: {{snippetOverview.isOwner}} })" class="glyphicon glyphicon-eye-open pull-right" title="View file" style="color:darkblue; cursor:pointer;"></span>
                </li>
            </ul>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading"><span role="button" ng-click="editReadme = true;redrawAce()">ReadMe</span>
                <span ng-show="snippetOverview.isOwner && editReadme == false" ng-click='editReadme = true;redrawAce()' role="button" class="glyphicon glyphicon-pencil pull-right" title="Edit Readme" style="color:darkblue;"></span>
            </div>
            <div ng-show="!editReadme" class="panel-body" ng-bind-html="formattedReadme"></div>

            <div ng-show="editReadme">
                <div class="form-group">
                    <button class="btn btn-info pull-right" data-toggle="modal" data-target="#markupHelpModal">README Markdown Help</button>
                </div>
                <ul class="nav nav-tabs">
                    <li class="nav active">
                        <a data-target="#create_readme_ace" data-toggle="tab">Edit</a>
                    </li>
                    <li class="nav">
                        <a data-target="#create_readme_pre" data-toggle="tab" ng-click="formatReadmeForPreview()">Preview</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="create_readme_ace" class="edit_readme tab-pane fade in active" ui-ace ="{ onLoad:aceLoaded }" ng-model="readme"></div>
                    <div id="create_readme_pre" class="create_readme tab-pane fade well" style="overflow: auto; background: rgb(255,255,255); " ng-bind-html="$searchService.trustHtmlSnippet(formattedReadme)"></div>
                </div>
            </div>
            <!-- lower set of buttons -->
            <div ng-show="editReadme" class="btn-group pull-right">
                <button class="btn btn-default" ng-click="cancelEdit()">Cancel</button>
                <button class="btn btn-success" ng-click="saveReadme()">Save</button>
            </div>
        </div>
        <br/>
        <div class="container panel panel-info">
            <dir-disqus config="disqusConfig"></dir-disqus>
        </div>
    </section>
</div>

<div id="cancelEditModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirm cancel</h4>
            </div>
            <div class="modal-body">
                <p>Readme content has changed, are you sure you want to cancel?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Keep Editing</button>
                <button type="button" class="btn btn-danger" ng-click="confirmCancel = true" data-dismiss="modal">Discard Changes</button>
            </div>
        </div>
    </div>
</div>

<div id="fileNameModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">New Filename</h4>
            </div>
            <div class="modal-body">
                <input id="newFileName" ng-model="newFileName" type="text" class="form-control"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-default" ng-click="addFile(newFileName)" data-dismiss="modal">Create File</button>
            </div>
        </div>
    </div>
</div>

<div id="fileDeleteModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirm delete</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" ng-click="confirmDelete = true" data-dismiss="modal">Delete File</button>
            </div>
        </div>
    </div>
</div>

<div id="fileUploadModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" >&times;</button>
                <h4 class="modal-title">Upload Files</h4>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <h3>Select files</h3>
                            <input type="file" nv-file-select="" uploader="uploader" multiple style="max-width: 100px;" /><br/>
                        </div>

                        <div nv-file-drop uploader="uploader" class="col-md-6" style="margin-bottom: 40px; max-width: 550px;">
                            <h3>Upload queue&nbsp;&nbsp;&nbsp;<img src="images/drop.png" style="height:60px; width:60px;"/></h3>
                            <p>Queue length: {{ uploader.queue.length }}</p>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th width="50%">Name</th>
                                    <th ng-show="uploader.isHTML5">Size</th>
                                    <th ng-show="uploader.isHTML5">Progress</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in uploader.queue">
                                    <td><strong>{{ item.file.name }}</strong></td>
                                    <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024|number:2 }} kb
                                        <span class="bg-danger" ng-show="item.file.size > 512000" title="An uploaded file must not exceed 512k in size. Github will truncate the file."><br>Error: File size exceeds 512k max</span>
                                    </td>
                                    <td ng-show="uploader.isHTML5">
                                        <div class="progress" style="margin-bottom: 0;">
                                            <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                        <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                        <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                    </td>
                                    <td nowrap>
                                        <!--<button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">-->
                                        <!--<span class="glyphicon glyphicon-upload"></span> Upload-->
                                        <!--</button>-->
                                        <!--<button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">-->
                                        <!--<span class="glyphicon glyphicon-ban-circle"></span> Cancel-->
                                        <!--</button>-->
                                        <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                            <span class="glyphicon glyphicon-trash"></span> Remove
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <div>
                                <div>
                                    Queue progress:
                                    <div class="progress" style="">
                                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                                    <span class="glyphicon glyphicon-upload"></span> Upload all
                                </button>
                                <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                                </button>
                                <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                                    <span class="glyphicon glyphicon-trash"></span> Remove all
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="uploadComplete()">Finish</button>
            </div>
        </div>
    </div>
</div>