<div>
    <div class="form-group">
        Search, create or browse for helpful code snippets to use in your projects.  Try it out by searching for “association” or login and add your own snippet.
    </div>
    <div class="form-group">
        <button class="btn btn-info pull-right" data-toggle="modal" data-target="#searchHelpModal" title="Display search help">?</button>
    </div>
    <div class="input-group">
        <div class="input-group-btn">
            <button ng-disabled="search.$invalid" ng-click="$searchService.submitSearch(searchTerms); $state.go(searchTerms ? 'search.results' : 'search');" type="button"
                    class="btn btn-default sss-button">Search  <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </button>
        </div>
        <input type="text" ng-model="searchTerms" name="q" required class="form-control" autofocus ng-enter="$searchService.submitSearch(searchTerms); $state.go(searchTerms ? 'search.results' : 'search');" placeholder="Search for...">
    </div>
</div>
<div>
    <div class="row">
        <div class="col-md-4">
            <div class="table-panel">
                <div class="panel panel-default">
                    <div class="panel-heading">Best Contributors</div>
                    <div class="panel-body"><p>These are contributors who have the highest rated snippets. Wouldn't you like to be one!</p></div>
                    <table class="table table-striped" table-height="200px" fixed-header>
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="user in userRankings | limitTo:100">
                            <th scope="row">{{$index + 1}}</th>
                            <td><a href ng-click="$searchService.submitSearch(user.username); $state.go('search.results');">{{user.name || user.username}}</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="table-panel">
                <div class="panel panel-default">
                    <div class="panel-heading">Highest Ranked Snippets</div>
                    <div class="panel-body"><p>These are snippets who have the highest ranked snippets. Aren't they all cool?</p></div>
                    <table class="table table-striped" table-height="200px" fixed-header>
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="snippet in snippetRankings | limitTo:100">
                            <th scope="row">{{$index + 1}}</th>
                            <td><a href="./#!/search/results/snippet-overview/{{snippet.rankingSnippetId}}">{{snippet.displayName}}</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="table-panel">
                <div class="panel panel-default">
                    <div class="panel-heading">Latest Snippets</div>
                    <div class="panel-body"><p>These are latest snippets to be added.</p></div>
                    <table class="table table-striped" table-height="200px" fixed-header>
                        <thead>
                        <tr>
                            <th>Posted On</th>
                            <th>Snippet Name</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="snippet in latestSnippets | limitTo:100">
                            <td scope="row">{{snippet.postedOn | date:'MM-dd-yyyy'}}</td>
                            <td><a href="./#!/search/results/snippet-overview/{{snippet.snippetId}}">{{snippet.displayName}}</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>