<div>
    <div class="form-group">
        <button class="btn btn-info pull-right" data-toggle="modal" data-target="#searchHelpModal" title="Display search help">?</button>
    </div>
    <div class="input-group">
        <div class="input-group-btn">
            <button ng-disabled="search.$invalid" ng-click="$searchService.submitSearch(searchTerms); $state.go(searchTerms ? 'search.results' : 'search');" type="button"
                    class="btn btn-default sss-button">Search  <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </button>
        </div>
        <input type="text" ng-model="searchTerms" name="q" required class="form-control" autofocus ng-enter="$searchService.submitSearch(searchTerms); $state.go(searchTerms ? 'search.results' : 'search');" placeholder="Search for...">
    </div>
</div>
<div>
    <div class="row">
        <div class="col-md-6">
            <div class="table-panel">
                <div class="panel panel-default">
                    <div class="panel-heading">Best Contributors</div>
                    <div class="panel-body"><p>These are contributors who have the highest rated snippets. Wouldn't you like to be one!</p></div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="user in userRankings | limitTo:5">
                            <th scope="row">{{$index + 1}}</th>
                            <td>{{user.name}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--<div class="col-md-6">-->
            <!--<div class="table-panel">-->
                <!--<div class="panel panel-default">-->
                    <!--<div class="panel-heading">Best Contributors</div>-->
                    <!--<div class="panel-body"><p>These are cool people.</p></div>-->
                    <!--<table class="table">-->
                        <!--<thead>-->
                        <!--<tr>-->
                            <!--<th>#</th>-->
                            <!--<th>Name</th>-->
                        <!--</tr>-->
                        <!--</thead>-->
                        <!--<tbody>-->
                        <!--<tr ng-repeat="user in userRankings">-->
                            <!--<th scope="row">{{$index + 1}}</th>-->
                            <!--<td>{{user.name}}</td>-->
                        <!--</tr>-->
                        <!--</tbody>-->
                    <!--</table>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</div>