<h4>Create Snippet</h4>
<div>
    <form id="create_form" ng-submit="createSnippet()">
        <div class="form-group">
            <label for="snippet_displayName">Snippet Name</label>
            <input id="snippet_displayName" type="text" class="form-control" ng-required="true" data-ng-model="formData.displayName"/>
        </div>
        <div class="form-group">
            <label for="snippet_description">Description</label>
            <input id="snippet_description" type="text" class="form-control" ng-required="true" data-ng-model="formData.description"/>
        </div>
        <div class="form-group">
            <label for="snippet_readme">ReadMe</label>
            <textarea id="snippet_readme" rows="10" class="form-control" data-ng-model="formData.readme"></textarea>
        </div>

        <button type="submit" class="btn">Create</button>
        <button class="btn" ui-sref="search">Cancel</button>
    </form>
</div>
