@import url(../bower/bootstrap/dist/css/bootstrap.min.css);
@import url(../bower/bootstrap/dist/css/bootstrap-theme.min.css);

body {
  padding-top: 70px;
}

.badge {
  font-size: 8px !important;
  background-color: #9a9a9a !important;
}

button.tag {
  background-color: #e1edfc !important;
  color: #8cb4f6 !important;
  border-radius: 45px;
}

button.tag span.badge {
  background-color: #d4e0ef !important;
  color: #8cb4f6 !important;
}
