<section ng-app="app" ui-view></section>

            <script src="/bower/angular/angular.min.js"></script>
            <script src="/bower/angular-ui-router/release/angular-ui-router.min.js"></script>
{{#if settings.production}}
            <script src="/js/build/sss.min.js?v=2"></script>
{{else}}
            <script src="/js/app/services/angular-service.js"></script>
            <script src="/js/app/services/search-service.js"></script>
            <script src="/js/app/sss/main/view.js"></script>
            <script src="/js/app/sss/search/view.js"></script>
            <script src="/js/app/sss/details/view.js"></script>
            <script src="/js/app/sss/overview/view.js"></script>
            <script src="/js/app/app.js"></script>
{{/if}}