<div class="input-group">
    <div class="input-group-btn">
        <button ng-disabled="search.$invalid" ng-click="$searchService.submitSearch(searchTerms); $state.go(searchTerms ? 'search.results' : 'search');" type="button"
                class="btn btn-default sss-button">Go!
        </button>
    </div>
    <input type="text" ng-model="searchTerms" name="q" required class="form-control" autofocus ng-enter="$searchService.submitSearch(searchTerms); $state.go(searchTerms ? 'search.results' : 'search');" placeholder="Search for...">
</div>